Import Packages

In [1]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split as tt
from sklearn.metrics import accuracy_score

Read Dataframe

In [2]:
df = pd.read_csv("loan_pred.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

Data Preprocessing

In [10]:
# Drop null values
df.dropna(inplace=True)

# label mapping
df.replace({"Loan_Status": {'N': 0, 'Y': 1}}, inplace=True)

df.replace({"Dependents": {'3+': 4}}, inplace=True)

# Categorical data into numerical data
df.replace({"Married": {'No': 0, 'Yes': 1},
            "Self_Employed": {'No': 0, 'Yes': 1},
            "Gender": {'Male': 1, 'Female': 0},
            "Property_Area": {'Rural': 0, 'Semiurban': 1, 'Urban': 2},
            "Education": {'Graduate': 1, 'Not Graduate': 0}}, inplace=True)

Split Data to training and testing

In [11]:
m = df.iloc[:,1:-1]
n = df.iloc[:,-1]
# print(m.head())
# print(n.head())
# Stratify - equally divides data of each class in train and test sets
m_train,m_test,n_train,n_test = tt(m,n,train_size=0.78,stratify=n,random_state=0)

Fit the training data into the SVC model and predict the output of the test data

In [12]:
clf = SVC(kernel="linear")
clf.fit(m_train,n_train)
n_train_pred = clf.predict(m_train)
n_test_pred = clf.predict(m_test)

Check the accuracy of the training and testing data to check for overfitting

In [13]:
acc = accuracy_score(n_train,n_train_pred)
print("SVM Train Accuracy:",acc)
acc_test = accuracy_score(n_test,n_test_pred)
print("SVM Test Accuracy:",acc_test)

SVM Train Accuracy: 0.7914438502673797
SVM Test Accuracy: 0.8113207547169812